---
page_title: "NextDNS Provider"
description: |-
  Manage NextDNS profiles with Terraform.
---

# NextDNS Provider

Manage [NextDNS](https://nextdns.io/) profiles with Terraform.

This provider is not affiliated with or endorsed by NextDNS.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
